#home-bodycontent .cover .cover-title {
  top: 70% !important;
}

.agent-cover-image  {
  height: 200px !important; 
  width: 200px !important;
  background-color: #00390f !important;
}

.chatbox-img-cont {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("https://cdn.jsdelivr.net/gh/jayreeves05/LindseyReevesMcGrawWebsite@latest/LR_ai_logo_2_headshot.png");
    background-size: cover;
    background-position: center;
}

.chatbox-img-cont img {
    display: none; /* Hide the original img */
}
